@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background-color: #ececec;
  color: #272727;
  padding: 1rem 4rem 1rem 4rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
a {
  color: #272727;
  transition: all 0.3s ease;
}
a:hover {
  color: black;
}
h1,
h2,
h3 {
  color: #f27b35;
}
.container h1 {
  margin-top: 0rem;
  width: 100%;
  font-family: "Roboto", sans-serif;

  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px 0px; */

  padding: 1rem;
  text-align: center;
}
h3 {
  font-family: "Roboto", sans-serif;
}
.container p {
  /* width: 60%; */
  padding-top: 1rem;
  /* padding: 1rem 3rem 0rem 3rem; */
  text-align: center;
  margin-bottom: 1rem;
}

label {
  font-size: 1.2rem;
  text-align: left;
}
input {
  width: 70%;
  font-size: 1.2rem;
  text-align: center;
  border: none;
  border-radius: 0.4rem;
  border: 1px solid #f27b35;
  padding: 0.5rem;
  margin: 7px;
  outline: none;
  background-color: #f1f1f1;
}
button {
  font-size: 1.2rem;
  width: 20vh;
  border: none;
  border-radius: 7px;
  padding: 0.5rem;
  margin: 1rem 0rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
  background-color: #f27b35;
}
button:hover {
  background-color: #272727;
  color: #f1f1f1;
}
.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center-container {
  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px 0px; */
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}
.messageDiv {
  padding: 1rem;
  font-size: 1.4rem;
  text-align: center;
  color: rgb(240, 81, 53);
}
table {
  margin-bottom: 2rem 0rem;
}
th,
td {
  font-size: 1rem;
  border: 1px solid black;
  padding: 15px;
  text-align: center;
  background-color: #ececec;
}
td {
  width: 90px;
  font-weight: 600;
}
caption h3 {
  font-size: 1.4rem;
  padding: 20px;
}
.cash-given {
  display: none;
}
#table {
  display: none;
}
.footer-links {
  text-align: center;
  font-size: 1.5rem;
}
.fab {
  margin: 0rem 0.6rem;
}
footer {
  margin: 2rem 0rem 0rem 0rem;
  text-align: center;
}

/* Media queries here  */
@media screen and (min-width: 340px) and (max-width: 1000px) {
  th,
  td {
    font-size: 0.6rem;
    /* border: 1px solid black; */
    padding: 10px;
    text-align: center;
  }
  caption h3 {
    padding: 7px;
  }
  td {
    width: 60px;
  }
  .container {
    width: 70vh;
  }
  .container p {
    width: 100%;
    padding: 0rem 0.5rem;
    text-align: center;
    margin-bottom: 1rem;
  }
}
